include LICENSE
include README.md
include CHANGES.txt
include requirements.txt
recursive-include stableagents *.py
recursive-include stableagents/tools *.py
recursive-include stableagents/utils *.py
recursive-exclude *.pyc
recursive-exclude __pycache__
recursive-exclude *.pyo
recursive-exclude *.pyd
